html, 
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/satellite.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 21px;
}
.section-solutions {
    /* padding-top: 80px;
    padding-bottom: 148px; */
    padding-top: 8%;
    padding-bottom: 8%;
}

.primary-text, .col-12 {
  color: #f1f1f1;
}

.lunarxp-launch-site, .lunarxp-control-center, .lunarxp-rocket-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lunarxp-launch-site {
    background-image: url("images/lunarxp-control-center.jpg");
}

.box-hover.lunarxp-launch-site {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/lunarxp-control-center.jpg');
}

.box-hover.lunarxp-control-center {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/space-station.jpg');
}

.box-hover.lunarxp-rocket-center {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/rocket.jpg');
}

.lunarxp-control-center {
    background-image: url("images/space-station.jpg");
}

.lunarxp-rocket-center {
    background-image: url("images/rocket.jpg");
}

@media (min-width: 576px) and (max-width: 768px) {
    .section-solutions {
        padding-top: 40px;
        padding-bottom: 95px;
   }
}
.section-solutions .box-solutions, .bg-dark  {
    -webkit-box-shadow: 0px 5px 32px 0px rgba(51, 51, 51, 0.1);
    -moz-box-shadow: 0px 5px 32px 0px rgba(51, 51, 51, 0.1);
    box-shadow: 0px 5px 32px 0px rgba(51, 51, 51, 0.1);
    height: 400px;
    background-color: #010101!important;
    position: relative;
}

.section-solutions .box-solutions img {
    max-height: 110px;
}
.section-solutions .box-solutions p {
    font-size: 18px;
    min-height: 60px;
}

p.text-uppercase {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    line-height: 5rem;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0,0,0,.125);

}

.btn {
    border-radius: 0;
}

.section-solutions .box-solutions .box-hover {
    display: none;
}
.section-solutions .box-solutions .box-hover h2 {
    font-size: 18px;
}
.section-solutions .box-solutions .box-hover p {
    font-size: 15px;
    flex-grow: 1;
}
.section-solutions .box-solutions .box-hover .btn-primary {
    width: 172px;
}
.section-solutions .box-solutions:hover {
    cursor: pointer;
}
.section-solutions .box-solutions:hover .box-hover {
    display: flex;
    flex-direction: column;
}
.feature-box:before {
    content: "";
    width: 100%;
    height: 100%;
    background-position: top left;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.feature-box .single-box .box-content a {
    transition: all, 0.4s, ease;
}
.feature-box .single-box .box-content a:hover {
    text-decoration: none;
    transition: all, 0.4s, ease;
}
.feature-box .single-box p {
    font-size: 16px;
    font-family: 'Arial';
}
